.pageRoot {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mapArea {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.mapStage {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.islandButton {
  position: absolute;
  transform: translate(-50%, -50%); 
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.ship {
  position: absolute;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
}
