.pageRoot {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.stage {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
