@import "tailwindcss";

@font-face {
  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/NeoDunggeunmoPro-Regular.woff") format("woff");
}

:root {
  --background: #ffb0bc;
  --foreground: #4a2c2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffb0bc;
    --foreground: #4a2c2a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NeoDunggeunmo", monospace;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}